@import "tailwindcss";

.reset-tw:not(pre):not(code) {
  all: revert;
}

.reset-tw {
  all: revert;
}

.reset-tw * {
  all: revert;
}

 .loader div:nth-child(2){
    animation-delay: 0.2s;
 }

 .loader div:nth-child(3){
    animation-delay: 0.4s;
 }